n=int(input)
s=''
stack=[]
while n:
    val=input().split() #'1 abc' ['1','abc']
    if val[0]=='1':
        s+=val[1]
        stack.append(s)
    elif val[0]=='2':  #'2 3' ['2','3']
        s=s[0:len(s)-int(val[1])]
        stack.append(s)
    elif val[0]=='3':  #'3 2' ['3','2']
        print(s[int(val[1])-1])
    else:
        stack.pop()
        if len(stack)>0:
            s=stack[-1]
        else:
            s=''
    n-=1
